.black_square {
    height: 70px;
    width: 70px;

    background-color: green;

    color: black;
}

.white_square {
    height: 70px;
    width: 70px;

    background-color: whitesmoke;

    color: black;
}